@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Uchen&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mouse Memoirs', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Uchen', serif; 
}

body {
  width: 100%;
  background-color: rgb(231, 197, 151);
}


h1 {
  font-size: 48px;
  line-height: 60px;
  color: rgb(7, 175, 58);
}

h2 {
  font-size: 38px;
  line-height: 52px;
  color: rgb(132, 77, 21);
  text-align: center;
}

h4 {
  font-size: 18px;
  color: rgb(16, 109, 25);
}

h6 {
  font-weight: 600;
  font-size: 12px;
}

p {
  font-size: 15px;
  color: rgb(32, 202, 83);
  background-color: rgb(231, 197, 151);
  margin: 15px 20px 18px 20px;
}

.sect-p1 {
  padding: 38px 75px;
}

.sect-m1 {
  margin: 35px 0;
}

button.standard {
  font-size: 15px;
  font-weight: 500;
  padding: 10.5px 20px;
  color: rgb(236, 202, 139);
  background-color: green;
  cursor: pointer;
  border: 1px solid beige;
  outline: none;
  transition: 0.3s;
  border-radius: 5px;
}

button.transparent {
  font-size: 16px;
  font-weight: 800;
  padding: 14px 28px;
  color: rgb(236, 244, 11);
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  border: 2px;
  outline: none;
  transition: 0.5s;
}


/* Header */
#header {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 18px 75px;
  background-color: rgb(50, 165, 94);
  box-shadow: 2 7px 13px rgba(0,0,0,0.05);
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: right; 
  position: relative; 
}

#navbar li {
  list-style: none;
  padding: 0 18px;
  position: relative;  
  margin: 5px 15px;
}

#navbar li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  color: rgb(118, 66, 6);
  transition: 0.4s;
}

#navbar li a:hover,
#navbar li a.active {
  color: rgb(5, 68, 31);  
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  height: 3px;
  width: 33%;  
  background-color: rgb(76, 151, 151);
  position: absolute;
  left: 18px;
  bottom: -5px;  
}

#mob {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

/* Home */
#basic {
  background-image: url('/img/Background Banners/Family Lunch Banner pexels-alexy-almond-3757999.jpg');
  background-size: cover;
  background-position: top 24% right: 0;
  height: 90vh;
  width: 100%;
  padding: 0 75px;
  display: flex;
  align-items: flex-start;
  justify-content: center;  
}

#basic-text {
  position: absolute;
  top: 70px;
  left: 20px;  
}

#basic-text h4 {
  color: rgb(8, 164, 8) !important;
  background-color: rgb(231, 197, 151);
}

#basic-text h2 {
  color: rgb(234, 85, 10) !important;
  background-color: rgb(231, 197, 151);
}

#basic-text h1 {
  color: rgb(17, 170, 17) !important;
  background-color: rgb(231, 197, 151);
}

#basic-text p {
  color: rgb(33, 192, 8) !important;
  background-color: rgb(231, 197, 151);
  font-weight: 600;
  font-size: 16px;
}

#top-bann {
  position: absolute;
  top: 50px;
  right: 0;
}

#basic h4 {
  padding-bottom: 15px;
}

#basic h2 {
  font-style: italic;
}

#basic h1 {
  color: rgb(95, 64, 14);
}

#basic button {
  background-image: url(img/btn.png);
  background-color: rgb(18, 181, 18);
  color: rgb(234, 202, 122);
  border: 0;
  padding: 5px 40px 5px 40px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
}

#basic p {
  background-color: rgb(231, 197, 151);
}

#feat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgb(231, 197, 151);
}

#feat .feat-box {
  width: 175px;
  text-align: center;
  padding: 22px 14px;
  box-shadow: 18px 18px 30px rgba(50,50,50,0.05);
  border: 1.5px solid rgb(132, 132, 65);
  border-radius: 5px;
  margin: 14px 0;
  background-color: rgb(231, 197, 151);
}

#feat .feat-box:hover {
  box-shadow: 12px 12px 50px rgba(150,150,150,0.01);
}

/* For Responsiveness of "#feat .feat-box img" */
#feat .feat-box img {
  width: 100%;
  margin-bottom: 9px;
}

#feat .feat-box h6 {
  font-size: 15px;
  display: inline-block;
  padding: 8px 8px 6px 8px;
  line-height: 1;
  border: radius 4px;
  color: rgb(66, 10, 101);
}

#feat .feat-box h6:nth-child(2) {
  background-color: rgb(255, 187, 0);
}

#feat .feat-box h6:nth-child(3) {
  background-color: rgb(226, 177, 43);
}

#feat .feat-box h6:nth-child(4) {
  background-color: rgb(228, 119, 56);
}

#feat .feat-box h6:nth-child(5) {
  background-color: bisque;
}

#feat .feat-box h6:nth-child(6) {
  background-color: rgb(184, 139, 98);
}

.prod-1 {
  text-align: center;
  background-color: rgb(231, 197, 151);
}

.prod-1 p {
  font-size: 19px;
  color: rgb(12, 116, 43) !important;
  font-style: oblique;
  font-weight: 500;
}

.prod-1 .prod-contr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px;
  flex-wrap: wrap;
}

.prod-1 .prod {
  width: 25%;
  min-width: 220px;
  padding: 9px 11px;
  border: 1.5px solid rgb(136, 91, 7);
  border-radius: 23px;
  cursor: pointer;
  box-shadow: 18px 18px 28px rgba(10,0,10,0.05);
  margin: 13px 0;
  transition: 0.3s;
  position: relative;
  background-color: rgb(231, 197, 151);
}

.prod-1 .prod:hover {
  box-shadow: 22px 22px 28px rgba(10, 0, 10, 0.08);
}

.prod-1 .prod img {
  width: 100%;
  border-radius: 20px;
}

.prod-1 .prod .descr {
  text-align: start;
  padding: 10px 0;
}

.prod-1 .prod .descr span {
  color: rgb(17, 15, 15);
  font-size: 11.5px;
}

.prod-1 .prod .descr h5 {
  padding-top: 7px;
  color: black;
  font-size: 13px;  
}

.prod-1 .prod .descr i {
  font-size: 11.5px;
  color: rgb(234, 160, 13);
}

.prod-1 .prod .descr h4 {
  padding-top: 6px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(57, 23, 180);
}

.prod-1 .prod .cart {
  width: 28px;
  height: 28px;
  line-height: 38px;
  border-radius: 5px;
  background-color: rgb(231, 197, 151);
  font-weight: 900;
  color: rgb(5, 98, 22);
  border: 1px solid beige;
  position: absolute;
  bottom: 30px;
  right: 10px;  
}

#bann {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('/img/Background Banners/pexels-chavdar-lungov-3996362.jpg');
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
}

#bann h3 {
  color: rgb(98, 76, 16);
  background-color: rgb(231, 197, 151);
  font-size: 15px;
  font-style: oblique;
}

#bann  h2 {
  color: rgb(98, 76, 16);
  font-size: 28px;
  background-color: rgb(231, 197, 151);
  padding: 9px 0;
}

#bann button:hover {
  color: antiquewhite;
  background-color: rgb(255, 136, 0);
}

/* Basic Promo-Banners */

#sm-bann {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgb(231, 197, 151);
}

#sm-bann .bann-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("/img/Background Banners/Summer Background pexels-krivec-ales-547114.jpg");
  min-width: 520px;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 10px !important;
  margin: 5px !important;
}

#sm-bann .bann-box-2 {
  background-image: url("/img/Background Banners/Autumn Background pexels-marta-wave-5876828.jpg");
}

#sm-bann h4 {
  font-weight: 600;
  color: rgb(50, 210, 10);
  background-color: rgb(231, 197, 151);
  font-size: 18px;
}

#sm-bann h2 {
  font-weight: 800px;
  font-size: 25px;
  color: rgb(12, 160, 27);
  background-color: rgb(231, 197, 151);
}

#sm-bann span {
  padding-bottom: 14px;
  font-weight: 600;
  color: rgb(5, 108, 16);
  background-color: rgb(231, 197, 151);
  font-size: 16px;
}

#sm-bann .bann-box:hover button {
  background-color: rgb(29, 97, 7);
  border: 1px solid rgb(189, 200, 174);
}

/*More Promotion Banners*/

#bann-3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px;
  background-color: rgb(231, 197, 151);
}

#bann-3 .bann-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url('/img/Background Banners/Summer Food-1 pexels-taryn-elliott-6743248.jpg');
  min-width: 30%;
  height: 32vh;
  background-size: cover;
  background-position: center;
  padding: 15px;
  margin-bottom: 15px;
}

#bann-3 .bann-box-2 {
  background-image: url('/img/Background Banners/Summer food-2 pexels-lachlan-ross-5967861.jpg');
}

#bann-3 .bann-box-3 {
  background-image: url("/img/Background Banners/Summer food-3 pexels-rachel-claire-4993266.jpg");
}

#bann-3 h2 {
  color: rgb(128, 77, 10);
  background-color: rgb(231, 197, 151);
  font-weight: 800;
  font-size: 20px;
}

#bann-3 h3 {
  font-weight: 800;
  font-size: 14px;
  color: rgb(11, 99, 34);
  background-color: rgb(231, 197, 151);
}

#news {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("/img/Background Banners/Background-Newsletter-pexels-fwstudio-131634.jpg");
  background-repeat: no-repeat;
  background-position: 23% 33%;  
}

#news h4 {  
  font-weight: 600;
  font-size: 20px;
  color: rgb(105, 6, 151);  
}

#news p {
  font-weight: 600;
  color: rgb(7, 7, 243);
  font-size: 17px; 
  background-color: rgb(231, 197, 151);
}

#news p span {
  color: rgb(114, 27, 184);
  background-color: rgb(231, 197, 151);
}

#inp-em-complete {
  display: flex;
  justify-content: end;
  align-items: center;
}

#news .inp-em {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-image: inherit !important;
  color: rgb(202, 25, 202);
  margin: 0 !important;
}

#news .inp-em input {
  height: 3rem;
  padding: 0 1.1em;
  font-size: 15px;
  border: 1.1px solid transparent;
  outline: none;
  margin: 0 !important;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 5px;
  background-color: rgb(174, 255, 127); 
}

#news-btn {
  display: flex;
  justify-content: flex-start;
}

#news-btn button {
  margin: 0 !important;
  width: 100%;
  color: rgb(160, 204, 17);
  background-color: rgb(131, 70, 6) !important;
  white-space: normal;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 20px;
}

#col-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;  
}

footer {
  background-color: rgb(231, 197, 151);
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 18px;
}


footer h4 {
  font-size: 15px;
  padding-bottom: 18px;
}

footer p{
  font-size: 14px;
  margin: 0 0 9px 0;
}

footer a {
  font-size: 14px;
  text-decoration: none;
  color: rgb(150, 83, 6);
  margin-bottom: 12px;
}

footer .paym .apps img {
  border: 1px solid  rgb(65, 65, 164);
  border-radius: 5px;
}

footer .paym img {
  margin: 9px 0 14px 0;
}

footer .soc-net {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

#copy-right {  
  color: rgb(1, 24, 2);
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  text-align: center;
  margin: 20px auto;  
  background-color: rgb(231, 197, 151);
}

footer .soc-net i {
  color: rgb(235, 77, 9);
  padding-right: 25px;
  font-size: 18px;
  cursor: pointer;
}

footer .soc-net i:hover,
footer a:hover {
  color: rgb(178, 175, 11);
}



/*Media query settings*/
/*Ovde pišem Samo ono što je Različito za Istu Klasu/ID/Html oznaku za manje ekrane i Samo To će i da prikaže Drugačije. */


@media (max-width: 890px) {
  footer div.paym {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 800px) {
  .sect-p1 {
    padding: 38px 38px;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -280px;
    height: 100vh;
    width: 280px;
    background-color:rgb(113, 230, 102);
    box-shadow: 0 40px 60px rgba(0,0,0,0.05);
    padding: 75px 0 0 11px;
    transition: 0.5s;
  }

  #navbar.active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 25px;
    background-color: aquamarine;
  }

  #mob {
    display: flex;
    align-items: center;
  }

  #mob i {
    color: rgb(43, 129, 228);
    font-size: 22px;
    padding-left: 18px;
  }
  
  #close {
    display: initial;
    position: absolute;
    top: 28px;
    left: 28px;
    color: rgb(24, 105, 211);
    font-size: 22px;
  }

  #miss-bag {
    display: none;
  }

  #basic {   
    height: 65vh;   
    padding: 0 80px;
    background-position: top 33% right 33%;    
  }

  #feat {    
    justify-content: center;
  }

  #feat .feat-box {
    margin: 14px 14px;
  }

  #prod-1 .prod-contr {    
    justify-content: center;    
  }

  #prod-1 .prod {   
    margin: 14px;    
  }

  #bann {    
    height: 22vh;    
  }

  #sm-bann .bann-box {       
    min-width: 100%;
    height: 33vh;   
  }
  
  #bann-3 {
    padding: 0 35px;
  }

  #bann-3 .bann-box {    
    width: 28%;    
  }

  #news input {    
    width: 65%;    
  }
}

@media (max-width: 551px) {
  div.prod-contr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media (max-width:480px) {
  .sect-p1 {
    padding: 38px 38px;
  }

  #up-part {    
    padding: 9px 28px;    
  }

  h2 {
    font-size: 30px;
  }

  h1 {
    font-size: 40px;
  }  

  #basic {   
    padding: 0 22px;
    background-position: 55%;
  }

  #feat {
    justify-content: space-between;
  }

  #feat .feat-box {
    width: 150px;
    margin: 0 0 14px 0;
  }

  #prod-1 .prod {
    width: 100%;    
  }

  #bann {
    height: 38vh;
  }
  
  #sm-bann .bann-box {
    height: 38vh;
  }

  #sm-bann .bann-box-2 {
    margin-top: 18px;
  }

  #bann-3 {
    padding: 0 18px;
  }
  
  #bann-3 .bann-box {
    width: 100%;
  }

  #news {
    padding: 38px 18px;
  }

  #news input {
    width: 100%;
  }

}

@media (max-width:375px) {
 #feat  {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  }
}












